# Ignorar el entorno virtual de Python
.venv/

# Ignorar el archivo de variables de entorno
.env

# Ignorar directorios de node
node_modules/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log
